<section>
    {{!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand mx-3" href="/">Reading Roundtable</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-lg-0">
          </ul>
        </div>
        <button class="btn btn-primary" id="logout">logout</button>
      </div>
    </nav> --}}
    <h1 class="text-center py-3">Reading Roundtables</h1>
    <h2 class="text-start mx-5 pb-3">Perusing Libraries...</h2>
    {{#each bookData as |search| }}
    <div class="row align-center mb-5">
        <div class="container ms-5 me-5">
            <div class="col-md-6 bookdata">
            <h3 class="fw-bolder">{{search.title}}</h3>
            <br>
            <img class="thumbnail" src={{search.thumbnail}}>
            <p>{{search.authors}}</p>
            <h3 class="my-3">Synopsis:</h3>
            <p class="search-description">{{search.description}}</p>
            <button data-book="{{json search}}" class="btn btn-secondary" id="addToLibrary">Add to My Library</button>
            </div>
            <br>
        </div>
    </div>
    {{/each}}
</section>
<script src="/js/addBook.js"></script>